/* color palette */
/* c
#8ac4d0
#f4d160
#fbeeac */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Paytone One', sans-serif; */

body {
  text-align: center;
}

/* title section */
#title {
  background-color: #28527a;
  padding: 0 15% 7%;
}

.navbar {
  padding-top: 3%;
}

.navbar-brand {
  font-family: 'Paytone One', sans-serif;
  font-size: 2rem;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;

  font-weight: bolder;
  color: #ffffff;
  line-height: 1.5;
  text-align: left;
}

h1.big-heading {
  font-size: 3.1rem;
}

.opening-title {
  padding-top: 5%;
}

.title-image {
  width: 60%;
  padding-top: 0;
}

.title-download-section {
text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* features section */
#features {
  padding: 12% 7%;
}

.feature-icon {
  font-size: 300%;
  color: #28527a;
}

.feature-title {
  
}

.feature-text {

}
